---
title: Archives
layout: default
description: "nothing at all"
header-img: "img/bg-re-vs-ng.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            <!-- posts列表 -->
			<div class="one-tag-list">
				{% for post in site.posts ] %}	
				
				 	<span style="color:#818181; font-size: 15px; display: block;">
				 		{{ post.date | date: "%B %-d, %Y" }} <br>
				 	</span> 
				    <a href="{{ post.url | prepend: site.baseurl }}" style="color:#436EEE; font-size: 20px; letter-spacing: -1px;line-height: 1;">
				    	{{ post.title }} <!-- 0085a1  436EEE -->
				    </a>
				        {% if post.subtitle %}
				        <div class="post-subtitle">
				            {{ post.subtitle }}
				        </div>
				        {% endif %}				    
				<hr>
				{% endfor %}
			</div>

		</div>
	</div>
</div>
