---
title: Tags
layout: default
description: nothing
header-img: "img/bg-os-metro.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <!-- 标签云 -->
			<div id='tag_cloud' class="tags">
				{% for tag in site.tags %}
				<a href="#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">{{ tag[0] }}</a>
				{% endfor %}
			</div>

            <blockquote class="tag-comments">
                标签命名规范：
                    <li>行业观察、职位、公司优先使用中文</li>
                    <li>外国产品、术语优先使用英文</li>
            </blockquote>

            <!-- 标签列表 -->
            <hr>
			{% for tag in site.tags %}			
			<div class="one-tag-list">
			  	<span class="fa fa-tag listing-seperator" id="{{ tag[0] }}">
                    <span class="tag-text"> 
                    	<strong>{{ tag[0] }}</strong>
                    </span>                    
                </span>            
				{% for post in tag[1] %}
				 <div class="post-preview">
				 	<span style="color:#818181; font-size: 15px; display: block;">
				 		{{ post.date | date: "%B %-d, %Y" }} <br>
				 	</span> 
				    <a href="{{ post.url | prepend: site.baseurl }}" style="color:#436EEE; font-size: 20px; letter-spacing: -1px;line-height: 1;">
				    	{{ post.title }}  <!-- 0085a1 -->
				    </a>
				        {% if post.subtitle %}
				        <div class="post-subtitle">
				            {{ post.subtitle }}
				        </div>
				        {% endif %}	
				</div>
				<hr>
				{% endfor %}
			</div>
			{% endfor %}

		</div>
	</div>
</div>
